* {
  margin: 0;
  padding: 0;
}
.body {
  line-height: 1.5;
}

$VeryDarkBlue: hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);
$BrightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);
$LightGrayishBlue: hsl(240, 75%, 98%);
$LightGray: hsl(0, 0%, 75%);
$titlesFont: "Raleway", sans-serif;
$textFont: "Open Sans", sans-serif;

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: $ModerateCyan;
  }
}

@import "./desktopStyle";
@import "./mobileStyles";
