* {
  margin: 0;
  padding: 0;
}

.body {
  line-height: 1.5;
}

@media (max-width: 875px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 95%;
    height: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
  }
  header nav img {
    width: 70%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header nav ul li {
    margin: 0 1em;
  }
  header nav ul li a {
    text-decoration: none;
    color: #070439;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .curveDesktop {
    display: none;
  }
  main .curveMobile {
    width: 100%;
  }
  main .heroSecction {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1.5fr;
    grid-template-rows: 1fr 1.5fr;
    margin: 2em 0;
    justify-items: center;
  }
  main .heroSecction img {
    padding-top: 50px;
    max-width: 80%;
  }
  main .heroSecction .info {
    margin: 2em;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  main .heroSecction .info h1 {
    font-weight: 700;
  }
  main .heroSecction .info p {
    margin: 2em;
  }
  main .heroSecction .info form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .heroSecction .info form input,
  main .heroSecction .info form button {
    width: 90%;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    margin: 0.5em 0;
    outline-style: none;
  }
  main .heroSecction .info form input {
    color: #070439;
    padding-left: 20px;
  }
  main .heroSecction .info form button {
    background: #3065f8;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
  }
  main .testimonialSection {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background: #f6f6fe;
    justify-items: center;
    padding: 3em 0;
  }
  main .testimonialSection img {
    max-width: 80%;
  }
  main .testimonialSection .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 2em;
  }
  main .testimonialSection .info h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
  }
  main .testimonialSection .info p {
    margin: 1em 1.5em;
    color: #585989;
    text-align: left;
  }
  main .testimonialSection .info .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40%;
    border-bottom: 1px solid #3c9f8f;
    margin: 2em 0;
    color: #3c9f8f;
  }
  main .testimonialSection .info .testimonialBox {
    width: 75%;
    background: white;
    border-radius: 7px;
    text-align: justify;
    font-size: 14px;
    padding: 30px;
    -webkit-box-shadow: 0px 15px 15px 2px rgba(194, 197, 250, 0.2);
    box-shadow: 0px 15px 15px 2px rgba(194, 197, 250, 0.2);
  }
  main .testimonialSection .info .testimonialBox .avatarBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .testimonialSection .info .testimonialBox .avatarBox img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName {
    height: inherit;
    margin-left: 10px;
    line-height: 0.5;
    font-family: "Raleway", sans-serif;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName p {
    font-weight: 700;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName small {
    font-weight: 400;
    font-size: 10px;
    color: #585989;
  }
  main .accessSecction {
    width: inherit;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #585989;
    justify-items: center;
  }
  main .accessSecction .info {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 2em;
    color: white;
  }
  main .accessSecction .info h2 {
    margin: 1em 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300px;
  }
  main .accessSecction .info p {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.7px;
  }
  main .accessSecction form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .accessSecction form input,
  main .accessSecction form button {
    width: 90%;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    margin: 0.5em 0;
    outline-style: none;
  }
  main .accessSecction form input {
    color: #070439;
    padding-left: 20px;
  }
  main .accessSecction form button {
    background: #3065f8;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
  }
  main .accessSecction form {
    width: 65%;
  }
  footer {
    background: #070439;
    color: white;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    display: -ms-grid;
    display: grid;

    -ms-grid-rows: 1fr 4fr 0.3fr;
    grid-template-rows: 1fr 4fr 0.3fr;
  }
  footer .logoFooter {
    margin: 3em 0 1em 3em;
  }
  footer .widgets {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .widgets .contactBox,
  footer .widgets .aboutUsMenuBox,
  footer .widgets .contactUsMenuBox {
    margin: 1em 0 1em 3em;
  }
  footer .widgets .contactBox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .widgets .contactBox div img {
    width: 20px;
    height: 15px;
    margin-right: 1em;
  }
  footer .widgets menu ul {
    list-style: none;
  }
  footer .widgets .social {
    text-align: center;
  }
  footer .widgets .social .svg-inline--fa {
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

@media (min-width: 875px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100px;
    padding-top: 2em;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    height: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
  }
  header nav img {
    width: 70%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header nav ul li {
    margin: 0 1em;
  }
  header nav ul li a {
    text-decoration: none;
    color: #070439;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .curveDesktop {
    width: 100%;
    margin-top: 6em;
  }
  main .curveMobile {
    display: none;
  }
  main .heroSecction {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0;
    justify-items: left;
    align-items: center;
  }
  main .heroSecction img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    max-width: 100%;
  }
  main .heroSecction .info {
    /* margin: 4em; */
    text-align: left;
    font-family: "Open Sans", sans-serif;
    width: 82%;
  }
  main .heroSecction .info h1 {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0;
  }
  main .heroSecction .info p {
    margin: 2em 0;
  }
  main .heroSecction .info form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
  }
  main .heroSecction .info form input,
  main .heroSecction .info form button {
    width: 100%;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    margin: 0.5em 0;
    outline-style: none;
  }
  main .heroSecction .info form input {
    color: #070439;
    padding-left: 20px;
    width: 60%;
    margin-right: 10px;
  }
  main .heroSecction .info form button {
    background: #3065f8;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
    width: 30%;
  }
  main .testimonialSection {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    background: #f8f8fe;
    justify-items: center;
    padding: 0 0 6em;
    align-items: center;
  }
  main .testimonialSection img {
    grid-area: 1/2;
    max-width: 80%;
  }
  main .testimonialSection .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin: 2em;
    width: 80%;
  }
  main .testimonialSection .info h2 {
    font-weight: 700;
    font-size: 40px;
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
  }
  main .testimonialSection .info p {
    margin: 1em 0;
    color: #585989;
    text-align: left;
  }
  main .testimonialSection .info .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30%;
    border-bottom: 1px solid #3c9f8f;
    margin: 2em 0;
    color: #3c9f8f;
  }
  main .testimonialSection .info .testimonialBox {
    width: 55%;
    background: white;
    border-radius: 7px;
    text-align: left;
    font-size: 14px;
    padding: 30px;
    -webkit-box-shadow: 15px 15px 15px 2px rgba(194, 197, 250, 0.2);
    box-shadow: 15px 15px 15px 2px rgba(194, 197, 250, 0.2);
  }
  main .testimonialSection .info .testimonialBox .avatarBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .testimonialSection .info .testimonialBox .avatarBox img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName {
    height: inherit;
    margin-left: 10px;
    line-height: 0.5;
    font-family: "Raleway", sans-serif;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName p {
    font-weight: 700;
    margin-left: 0;
  }
  main .testimonialSection .info .testimonialBox .avatarBox .avatarName small {
    font-weight: 400;
    font-size: 10px;
    color: #585989;
  }
  main .accessSecction {
    width: inherit;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: #585989;
    justify-items: center;
    padding: 6em 0;
  }
  main .accessSecction .info {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: white;
  }
  main .accessSecction .info h2 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 1em;
  }
  main .accessSecction .info p {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    padding-right: 5em;
  }
  main .accessSecction form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
  }
  main .accessSecction form input,
  main .accessSecction form button {
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    margin: 0.5em 0;
    outline-style: none;
  }
  main .accessSecction form input {
    color: #070439;
    padding-left: 20px;
  }
  main .accessSecction form button {
    width: 40%;
    background: #3065f8;
    color: white;
    font-weight: 400;
    font-size: 14px;
    border: none;
  }
  main .accessSecction form {
    width: 65%;
  }
  footer {
    background: #070439;
    color: white;
    padding: 0 5em;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1.5fr 0.3fr;
    grid-template-rows: 1fr 1fr 0.3fr;
  }
  footer .logoFooter {
    margin: 8em 0 1em;
  }
  footer .widgets {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  footer .widgets .contactBox,
  footer .widgets .aboutUsMenuBox,
  footer .widgets .contactUsMenuBox,
  footer .widgets .creditsBox {
    width: 25%;
  }
  footer .widgets .contactBox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .widgets .contactBox div img {
    width: 20px;
    height: 15px;
    margin-right: 1em;
  }
  footer .widgets menu ul {
    list-style: none;
  }
  footer .widgets .social .svg-inline--fa {
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3c9f8f;
}
/*# sourceMappingURL=style.css.map */
