* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.container {
  line-height: 1.5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 80px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  color: #070439;
}

header nav img {
  width: 70%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 1em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightblue;
}

main .heroSecction {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 2em 0;
}

main .heroSecction img {
  padding-top: 50px;
  max-width: 100%;
}

main .heroSecction .info {
  margin: 1em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

main .heroSecction .info h1 {
  font-weight: 700;
}

main .heroSecction .info p {
  margin: 1em 0;
}

main .heroSecction .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .heroSecction .info form input,
main .heroSecction .info form button {
  width: 90%;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin: 0.5em 0;
  outline-style: none;
}

main .heroSecction .info form input {
  color: #070439;
  padding-left: 20px;
}

main .heroSecction .info form button {
  background: #3065f8;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

main .testimonialSection {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  margin: 2em 0;
}

main .testimonialSection img {
  max-width: 100%;
}

main .testimonialSection .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
}

main .testimonialSection .info h2 {
  font-weight: 700;
  font-size: 18px;
}

main .testimonialSection .info p {
  margin: 1em 0;
  color: #070439;
}

main .testimonialSection .info .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  border-bottom: 1px solid #3c9f8f;
  margin: 2em 0;
  color: #3c9f8f;
}

main .testimonialSection .info .testimonialBox {
  width: 75%;
  background: white;
  border-radius: 7px;
  text-align: justify;
  font-size: 14px;
  padding: 30px;
}

main .testimonialSection .info .testimonialBox .avatarBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .testimonialSection .info .testimonialBox .avatarBox img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

main .testimonialSection .info .testimonialBox .avatarBox .avatarName {
  height: inherit;
  margin-left: 10px;
  line-height: 0.5;
  font-family: "Raleway", sans-serif;
}

main .testimonialSection .info .testimonialBox .avatarBox .avatarName p {
  font-weight: 700;
}

main .testimonialSection .info .testimonialBox .avatarBox .avatarName small {
  font-weight: 400;
  font-size: 10px;
  color: #585989;
}
/*# sourceMappingURL=style.css.map */